@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  font-family: "Onest";
}

@layer base {
  input[type="number"]::-webkit-inner-spin-button,
  input[type="number"]::-webkit-outer-spin-button {
    -webkit-appearance: none;
    margin: 0;
  }
}

::-webkit-scrollbar {
  width: 5px;
}

::-webkit-scrollbar-thumb {
  border-radius: 10px;
}

::-webkit-scrollbar-track {
  background: #ffffff;
}

::-webkit-scrollbar-thumb {
  background: #dbdbdb;
}

.dark ::-webkit-scrollbar-track {
  background: #0a0a0a;
}

.dark ::-webkit-scrollbar-thumb {
  background: #242424;
}
